.office {
  margin-right: 2px;
  margin-left: 232px;

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    margin-left: 0;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    margin-left: 20px;
  }
}

.office__list {
  margin: 0 2px 0 0;
  padding: 0;
  list-style: none;

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    padding: 0 5px 0 0;
  }
}

.office__list--closed {
  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    display: none;
  }
}

.office__list--opened,
.office__list--nojs {
  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    display: block;
    padding: 5px 20px 27px 15px;
  }
}

.office .office__link--address {
  &:hover,
  &:focus {
    color: $basic__dark;
    opacity: 0.5;
  }
}
