.page-footer__container {
  display: flex;
  margin-top: 2px;

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    flex-direction: column;
    width: 100%;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    justify-content: space-between;
    padding: 36px 33px 36px 25px;
  }
}

.page-footer__fieldset {
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    position: relative;
    width: 100%;
    padding: 0;
    border-bottom: 1px solid transparentize($basic__light-three, 0.8);
    box-sizing: border-box;
  }
}

.sections-site__title--closed,
.office__title--closed,
.sections-site__title--opened,
.office__title--opened {
  cursor: pointer;
}

.sections-site__title--nojs,
.office__title--nojs {
  cursor: auto;
}

.page-footer__legend {
  margin: 0 0 25px 2px;
  padding: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $basic__dark;

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 27px 15px;
    background-color: transparent;
    box-sizing: border-box;
    z-index: 100;
  }
}

.sections-site__span,
.office__span {
  display: none;
  position: absolute;
  top: -43px;
  right: 17px;
  width: 16px;
  height: 16px;
  background-color: inherit;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.sections-site__span--closed,
.office__span--closed {
  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    display: block;
    background-image: url("../img/icons/sprite/plus-icon.svg");
    background-repeat: no-repeat;
  }
}

.sections-site__span--opened,
.office__span--opened {
  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    display: block;
    top: -35px;
    padding: 0;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: $basic__light-four;
    }
  }
}

.sections-site__span--nojs,
.office__span--nojs {
  display: none;
}

.page-footer__container a {
  font-size: 15px;
  line-height: 25px;
  color: $basic__dark;
  opacity: 0.5;

  &:hover,
  &:focus {
    color: $basic__accent;
    opacity: 1;
    outline: none;
  }
}
