.page-footer__envelope {
  margin-right: 30px;
  min-width: fit-content;

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px 46px;
    border-bottom: 1px solid transparentize($basic__light-three, 0.8);
    box-sizing: border-box;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 24px 25px 25px;
    border-bottom: 1px solid transparentize($basic__light-three, 0.8);
  }
}

.page-footer__logo img {
  display: block;
  margin-bottom: 53px;
  min-width: fit-content;

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    margin-bottom: 81px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    margin-bottom: 0;
  }
}

.socials {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    margin-top: -8px;
  }
}

.socials__item {
  margin: 0 16px 16px 0;

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    margin: 8px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    margin: 11px 0 0;
  }
}

.socials__item + .socials__item {
  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    margin-left: 16px;
  }
}

.socials__item svg {
  display: block;
}

.socials__link {
  color: $basic__light-seven;
}

.socials__link:hover,
.socials__link:focus {
  color: $basic__accent;
  outline: none;
}
