// Colors

$basic__black: #000000;
$basic__white: #ffffff;
$basic__dark: #1b2d37;
$basic__light: #666666;
$basic__light-two: #999999;
$basic__light-three: #626962;
$basic__light-four: #c4c4c4;
$basic__light-five: #ebebeb;
$basic__light-six: #fafafa;
$basic__light-seven: #cdcdcd;
$basic__accent: #00b2ff;
$basic__error: #fe7865;

// Viewports

$tablet-max-width: 1023px;
$tablet-width: 768px;
$mobile-max-width: 767px;
$mobile-width: 0;
