// Colors

$basic__black: #000000;
$basic__white: #ffffff;
$basic__dark: #131314;
$basic__light: #c9ccd4;
$basic__accent: #0ad9c6;
$basic__error: #fe7865;

// Viewports

$tablet-max-width: 1023px;
$tablet-width: 768px;
$mobile-max-width: 767px;
$mobile-width: 0;
